<div class="portfoliocontainer">
    <div style="overflow:auto;">
        <div class="stillmainheading portfolioheading" style="color:<%-portfolio.color%>"><%-portfolio.category%> <span id="contentname"><%-portfolio.name%></span>

        </div>
        <div class="closebutton" id="closebutton" style="color:<%-portfolio.color%>"><div class="boxclose"></div><div class="closetext">close</div> </div>
        <div class="closebutton" id="nextcontent" style="color:<%-portfolio.color%>"><div class="boxright"></div><div class="closetext">next</div> </div>
        <div class="closebutton" id="contentindex" style="color:<%-portfolio.color%>"><div class="closetext" id="contentindextext">01 of 15</div> </div>
        <div class="closebutton" id="previouscontent" style="color:<%-portfolio.color%>"><div class="closetext">prev</div> <div class="boxleft"></div></div>
        <div class="contentdetailsseparator"></div>
        <div class="shareiconsviewer">
            <a href="#" class="shareiconviewerlink" id="viewerfacebooklink" target="_blank">
                <img src="/img/shareicons/facebook_001.jpg" class="shareiconviewer" id="viewerfacebook" />
            </a>
            <a href="#" class="shareiconviewerlink" id="viewergooglepluslink" target="_blank">
                <img src="/img/shareicons/googleplus_001.jpg" class="shareiconviewer" id="viewergoogleplus" />
            </a>
            <a href="#" class="shareiconviewerlink" id="viewerpinterestlink" target="_blank">
                <img src="/img/shareicons/pinterest_001.jpg" class="shareiconviewer" id="viewerpinterest" />
            </a>
            <a href="#" class="shareiconviewerlink" id="viewertumblrlink" target="_blank">
                <img src="/img/shareicons/tumblr_001.jpg" class="shareiconviewer" id="viewertumblr" />
            </a>
            <a href="#" class="shareiconviewerlink" id="viewertwitterlink" target="_blank">
                <img src="/img/shareicons/twitter_001.jpg" class="shareiconviewer" id="viewertwitter" />
            </a>
        </div>
    </div>
    <div class="leftcolor">
        <div class="leftcolorbar" style="background-color: <%-portfolio.color%>;height:100px;">

        </div>
    </div>
    <div class="contentviewerholder">

        <div class="contentholder"></div>
        <div id="nextcontentoverlay" class="contentoverlay"></div>
        <div id="previouscontentoverlay" class="contentoverlay"></div>
        </div>
</div>


<!--
<div class="contentviewerholder">
<div class="contentholder"></div>
<div id="previouscontent"></div>
<div id="nextcontent"></div>
<div class="captioncontainer">
<div id="previouscontentbottom" >prev</div>
<div id="indicesholder"></div>
<div id="nextcontentbottom" >next</div>
<div id="captionholder"></div>
</div>
<div class="closeicon"><img src="/img/closeicon.png" style="width:30px;height:30px;" id="closebutton"/></div>
<div class="shareiconsviewer">
<a href="#" class="shareiconviewerlink" id="viewerfacebooklink" target="_blank">
<img src="/img/shareicons/facebook_001.jpg" class="shareiconviewer" id="viewerfacebook" />
</a>
<a href="#" class="shareiconviewerlink" id="viewergooglepluslink" target="_blank">
<img src="/img/shareicons/googleplus_001.jpg" class="shareiconviewer" id="viewergoogleplus" />
</a>
<a href="#" class="shareiconviewerlink" id="viewerpinterestlink" target="_blank">
<img src="/img/shareicons/pinterest_001.jpg" class="shareiconviewer" id="viewerpinterest" />
</a>
<a href="#" class="shareiconviewerlink" id="viewertumblrlink" target="_blank">
<img src="/img/shareicons/tumblr_001.jpg" class="shareiconviewer" id="viewertumblr" />
</a>
<a href="#" class="shareiconviewerlink" id="viewertwitterlink" target="_blank">
<img src="/img/shareicons/twitter_001.jpg" class="shareiconviewer" id="viewertwitter" />
</a>
</div>
</div>

-->